

.bg-1 {
    margin: 10px auto auto auto;
    background-color: #f7fdff;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.selected-temp-unit {
    text-decoration: underline;
    color: blue;
}

.unselected-temp-unit {
    text-decoration: none;
    color: grey;
}

.x-small {
    font-size: x-small;
}

@media (min-width: 400px) {
  .container {
    width: 384px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 384px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 496px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 600px;
  }
}
